.slideshow {
    --slide-index: 1;

    display: flex;
    flex-direction: row;

    width: 100%;

    transform: translateX(calc(calc(1 - var(--slide-index, 1)) * 100%));

    transition: transform ease-in-out var(--animation--duration--normal);

    > * {
        flex: 1 0 100%;
    }

    slide-cover {
        [background] {
            background-image: url('~src/app/illustrations/ogma/ogma.component.svg'),
                url('~src/app/illustrations/watermark/watermark.component.svg');
        }
    }

    slide-table-of-contents {
        [background] {
            background-image: url('~src/app/illustrations/watermark/watermark.component.svg');
        }
    }

    slide-chapter-start:nth-of-type(1) {
        [background] {
            background-image: url('~src/app/illustrations/network3/network3.component.svg');
        }
    }

    slide-two-column:nth-of-type(1) {
        [background] {
            background-image: url('~src/app/illustrations/global-social-network1/global-social-network1.component.svg');
        }
    }

    slide-two-column:nth-of-type(2) {
        [background] {
            background-image: url('~src/app/illustrations/coin-tree/coin-tree.component.svg');
        }
    }

    slide-two-column:nth-of-type(3) {
        [background] {
            background-image: url('~src/app/illustrations/global-social-network2/global-social-network2.component.svg');
        }
    }

    slide-connected-islands:nth-of-type(1) {
        [background] {
            background-image: url('~src/app/illustrations/green-arrows/green-arrows.component.svg');
        }
    }

    slide-thanks {
        [background] {
            background-image: url('~src/app/illustrations/thanks/thanks.component.svg');
        }
    }

    slide-two-column:nth-of-type(4) {
        [background] {
            background-image: url('~src/app/illustrations/big-data-in-a-cube/big-data-in-a-cube.component.svg');
        }
    }
}

.slide-number-container {
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 2rem;

    font-size: 2.4rem;
    font-weight: 500;

    .slide-number {
        font-size: 1.6em;
        font-weight: 900;
    }

    .separator {
    }

    .slides-count {
    }
}
